
.navlogo{
    width: 8vh;
}
.enlaces{
    font-size: 2.4vh;
    color: white;
    padding-left: 16px;
}
.enlaces a{
    color:white
}
.foot{
    background-color: #1d1d1d;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-bottom: 1vh;
}
.paddin{
    margin-left: 20px;
}
@media (max-width: 600px){
    .foot{
        background-color: #1d1d1d;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 50px;
        width: 100%;
        overflow: hidden;
        text-align: center;
        
    }

    .enlaces{
        font-size: 23px;
        color: white;
        padding-left: 2vh;
    }

}