.image{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  margin-bottom: 1vh;
  width: 30vh;
  margin-left: 15vw;

}
.myimage{
 padding-top: 7vh;
 
}
.about-main{


    margin-bottom: 100px;
    
    margin-top: 10%;
    text-align: left;
    margin-left: 5%;
}
.about-main h2{

    font-size: 2.7vh;
    font-weight: 300;
}

@media (max-width: 600px){

.myimage{
    margin-top: 4vh;
    margin-right: 2vh;
    margin-left: 2vh;
    padding-left: 0;
    padding-top: 0;
}

.image{

 width: 200px;
    
}

}